@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

ol li {
  color: #333; /* Cambia el color del texto */
  font-size: 12px; /* Tamaño del texto */
  line-height: 1.6; /* Espaciado entre líneas */
  margin-bottom: 8px; /* Margen inferior para cada ítem */
  text-align: left;
  list-style-type: decimal;
  padding-left: 10px;
  margin-left: 20px;
}

